
@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

* {
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    margin: 20;
}

#design {
    float: right;
}

#makeItPop {
    background-color: #FAF146;
    border-width: 10px;
    border-radius: 2px;
    border-style: double;
    border-color: white;
    padding: 80px 40px 80px 40px;
    margin-top: 70px;
    margin-right: 60px
}

#textStyle {
    font-family: 'Questrial', sans-serif;
    font-size: 40px;
    color: #E85E56;
    padding-left: 200px;
    margin-top: 100px;
}

#startIt {
    margin: 200px
}

#startIt {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  #startIt:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  #startIt:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

#answerButton {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  #answerButton:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  #answerButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

.start img {
    margin-top: 100px;
    margin-left: 50px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bigDiv {
    display: flex;
    justify-content: space-between;
}